.gg01 {
    border: 10px green solid;
    border-radius: 30px;
    background-color: white;
    padding: 0px;
    box-sizing: border-box;
}

.gg02 {
    border: 0px;
    background-color: gray;
    padding: 0;
    box-sizing: border-box;
}

.button01 {
    border: 0px;
    border-radius: 20px;
    background-color: green;
    padding-top: 3px;
    padding-bottom: 3px;
    text-shadow: 30px;
    color: white;
    text-align: center;
    width: 200px;
    font-weight: 800;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translate(-50%,0);
}

.button01:hover {
    background-color: white;
    color: green;
    cursor: crosshair;
}

.cool01 {
    cursor: crosshair;
}

.cool02 {
    position: fixed;
    box-sizing: border-box;
}

.boxes01 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 800;
    box-sizing: border-box;
}

.boxes01 div {
    border-radius: 40px;
    padding: 20px 0px 0px 0px;
    margin: 5%;
    cursor: pointer;
}

.boxes01 div:hover {
    border: 8px black solid;
}

.boxes01 div img {
    height: 80px;
}