body {
    background-color: rgb(172, 220, 197);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-weight: 800;
}

h2 {
    font-size: 50px;
    color: green;
    text-align: center;
}

p, a, ul, ol{
    font-size: 20px;
}

hr {
    border: 2px green solid;
}

ul {
    list-style-type: square;
    line-height: 30px;
}